DATABASE_URL=postgresql+asyncpg://postgres:supersecretpassword@db:5432/finly_prod
SECRET_KEY=real-production-secret-key-minimum-32-chars

POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=finly_prod

DEBUG=False
LOG_LEVEL=WARNING